.titulos {
    text-align: center;
    text-shadow: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.titulosdistancia {
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.margencv{
    width: 700px;
    margin: auto;
    background-color: lightgreen;
    border: 2px solid black;
}
body {
    font-family: Verdana;
  border: 30px;
  margin: auto;
  background-color: rgb(158 250 253);
}
h1{
    width: auto;
}
h2{
    background-color: rgb(28 185 18);
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    padding-top: 10px;
}
h3{
    background-color: rgb(65, 194, 65);
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    height: 40px;
    padding-top: 10px;
}
h4{
    background-color: rgb(109, 207, 102);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 32px;
    padding-top: 10px;
}
li{
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
}
p {
    padding-left: 5px;
}
.fotocv {
    width: 150px; 
    height: 150px;
    position:absolute;
    top:inherit;
    padding-left: 548px;
    margin-top: 53px;
}
#completardatos {
    margin-top: 20px;
    background-color:rgb(158, 250, 253);
    text-decoration: underline;
}
.datospersonales{
    background-color: lightgreen;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
#fotocvok{
    width: 150px; 
    height: 150px;
    position:absolute;
    top:inherit;
    padding-left: 548px;
    margin-top: 3px;
}
.agregarpestaña{
    background-color: #2bc1f3;
    border: black solid 1px;
    width: 200px;
    height: 25px;
    font-size: medium;
    margin: 10px 50px;
}
.quitarpestaña{
    background-color: #c2c1c1;
    border: black solid 1px;
    width: 200px;
    height: 25px;
    font-size: medium;
    margin: 10px 50px;
}
.agregarpuesto{
    background-color: #4CAF50;
    border: #4CAF50 solid 1px;
    width: 200px;
    height: 50px;
    margin: 15px 30px;
    border-radius: 12px;
    font-size: large;
}
.quitarpuesto{
    background-color: #f44336;
    border: #f44336 solid 1px;
    width: 200px;
    height: 50px;
    margin: 15px 25px;
    border-radius: 12px;
    font-size: large;
}
.agregarpuesto:hover{
    background-color: #57df5b;
}
.quitarpuesto:hover{
    background-color: #ca1407;
}
.agregarpestaña:hover{
    border: #2bc1f3 solid 1px;
}
.quitarpestaña:hover{
    border: #c2c1c1 solid 1px;
}
#realizarcv{
    text-align: center;
    margin: 10px;
    background-color: #0076e4;
    border: #0076e4 solid 1px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-size: x-large;
    box-shadow: 0 9px #999;
    cursor: pointer;
}
#realizarcv:hover{
    background-color: #44a4fd;
}
#realizarcv:active{
    background-color: blue;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
input[type=text]{
    padding: 5px 10px;
    width: 20%;
    margin: 5px;
}
input[type=number]{
    padding: 5px 10px;
    width: 50px;
}
input[type=tel]{
    padding: 5px 10px;
    width: 5%;
}
input[type=email]{
    padding: 5px 10px;
    width: 20%;
    margin: 5px;
}
input[type=month]{
    padding: 5px 10px;
    width: 11%;
    margin: 5px;
}
input[type=checkbox]{
    float: left;
    margin: auto;
    width: 20px;
    height: 20px;
    padding-left: 10px;
    border-radius: 100%;
}
#sinexp{
    margin-left: 5px;
}
#colorblanco{
    background-color: #ffffff;
    border: rgb(0, 0, 0)d 1px;
    width: 50px;
    height: 50px;
    margin: 15px 25px;
    border-radius: 100%;
}
#colorazul{
    background-color: #0d23ee;
    border: #0b1cb8 solid 1px;
    width: 50px;
    height: 50px;
    margin: 15px 25px;
    border-radius: 100%;
}
#colorverde{
    background-color: #0de92a;
    border: #0ec526 solid 2px;
    width: 50px;
    height: 50px;
    margin: 15px 25px;
    border-radius: 100%;
}
#colorrojo{
    background-color: #f44336;
    border: #f44336 solid 1px;
    width: 50px;
    height: 50px;
    margin: 15px 25px;
    border-radius: 100%;
}
#botonescolor{
    text-align: center;
}